<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="row">
    <button id="logout" type="button" class="btn btn-success btn-responsive" routerLink="/"
      (click)="logout()">Logout</button>
  </div>
</nav>


<div class="show">
  <h1>type</h1>
  <div class="dropdown">
    <button class="dropbtn">Types</button>
    <div class="dropdown-content">
      <a href="/blind">Blind</a>
      <a href="/deaf">Deaf</a>
      <a href="/physicaldisable">Physical disable</a>
    </div>
  </div>
</div>
<div class="company1">
  <img id="Kt" class="img-responsive" src="assets/Images/Kt.jpg">
  <!-- <p class ="number">จำนวนอัตราที่เปิดรับ : 3</p> -->
  <h2 class="one">บริษัท KT จำกัด</h2>
  <!-- <p class="first">ตำแหน่ง : ผู้ช่วยดูแลเด็ก</p> -->
  <div class="button">
    <a href="/match"><button class="button" style="vertical-align:middle"><span>detail </span></button></a>
  </div>
</div>

<div class="company2">
  <img id="Kt" class="img-responsive" src="assets/Images/At.jpg">
  <!-- <p class ="number2">จำนวนอัตราที่เปิดรับ : 10</p> -->
  <h2 class="two">บริษัท AT จำกัด</h2>
  <!-- <p class="second">ตำแหน่ง : เจ้าพนักงานธุรการ</p> -->
  <div class="button">
    <a href="/match"><button class="button" style="vertical-align:middle"><span>detail </span></button></a>
  </div>

</div>

<div class="company3">
  <img id="Kt" class="img-responsive" src="assets/Images/Bx.jpg">
  <!-- <p class ="number3">จำนวนอัตราที่เปิดรับ : 5</p> -->
  <h2 class="three">บริษัท BX จำกัด</h2>
  <!-- <p class="third">ตำแหน่ง : เจ้าหน้าที่คีย์ข้อมูล</p> -->
  <div class="button">
    <a href="/match"><button class="button" style="vertical-align:middle"><span>detail </span></button></a>
  </div>

</div>

<div class="company4">
  <img id="Kt" class="img-responsive" src="assets/Images/Dm.jpg">
  <!-- <p class ="number4">จำนวนอัตราที่เปิดรับ : 5</p> -->
  <h2 class="four">บริษัท DM จำกัด</h2>
  <!-- <p class="fourth">ตำแหน่ง : เจ้าหน้าที่คีย์ข้อมูล</p> -->
  <div class="button">
    <a href="/match"><button class="button" style="vertical-align:middle"><span>detail </span></button></a>
  </div>

</div>