<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="row">
    <button id="logout" type="button" class="btn btn-success btn-responsive" routerLink="/"
      (click)="logout()">Logout</button>
  </div>
</nav>


<div class="show">
  <h1>type</h1>
  <div class="dropdown">
    <button class="dropbtn">Types</button>
    <div class="dropdown-content">
      <a href="/blind">Blind</a>
      <a href="/deaf">Deaf</a>
      <a href="/physicaldisable">Physical disable</a>
    </div>
  </div>
</div>

<div class="company3">
  <img id="Kt" class="img-responsive" src="assets/Images/Bx.jpg">

  <h2 class="three">บริษัท BX จำกัด</h2>

  <div class="button">
    <a href="/match"><button class="button" style="vertical-align:middle"><span>detail </span></button></a>
  </div>

</div>

<div class="company4">
  <img id="Kt" class="img-responsive" src="assets/Images/Dm.jpg">

  <h2 class="four">บริษัท DM จำกัด</h2>

  <div class="button">
    <a href="/match"><button class="button" style="vertical-align:middle"><span>detail </span></button></a>
  </div>

</div>